/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	// TODO: Define default font here.
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: default;
}

html {
	font-size: 10px;
}

/*--------------------------------------------------------------
# Headings (h1 through h6)
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6{
	@include font-oswald;
	line-height: 1;
	text-transform: uppercase;
}
h1 {
	font-size: 16rem;


}

h2 {
	font-size: 4.8rem;
}

h3{
	font-size: 2.8rem;
}

h4{
	font-size: 1.8rem;
}

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/
p{
	@include font-slabo;
	font-size: 2.2rem;
	line-height: 3rem;
	margin-bottom: 40px;
}

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
